<!-- src/main/resources/templates/fragments/header.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="UTF-8">
<head>
    <!-- 외부 CSS 파일 연결 -->
    <link rel="stylesheet" th:href="@{/css/header.css}" />
</head>
<body>
<header th:fragment="siteHeader">
    <div class="header-top">
        <a th:href="@{/main}" class="logo">SAEGIM</a>
    </div>
    <div class="header-bottom">
        <div class="title-container">홈 대시보드</div>
        <div class="categori-container">
            <a th:href="@{/main}">피드</a>
            <a th:href="@{/schedule}">일정관리</a>
            <a th:href="@{/notion/create}">노션작성</a>
            <a th:href="@{/notion/manage}">노션관리</a>
            <a th:href="@{/quiz/create}">문제생성</a>
        </div>
        <div class="login-container">
            <!-- 로그인 상태에 따른 조건부 표시 -->
            <div sec:authorize="isAnonymous()">
                <a th:href="@{/login}" class="login-button">로그인</a>
            </div>
            <div sec:authorize="isAuthenticated()">
                <a th:href="@{/mypage}" class="login-button">마이페이지</a>
                <a th:href="@{/logout}" class="login-button">로그아웃</a>
            </div>
        </div>
    </div>
    <div class = "AI-position-container">
          <div class = "AI-container">AI모델 이미지 공간입니다</div>
    </div>
    <div class = top-button-position-container>
            <button>TOP버튼입니다.</button>
    </div>
</header>
</body>
</html>
