@charset "UTF-8";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
body {
	background: white; 
	margin:0px;
}
.full-location-container {
	width:100%;
	height:100%;
	display:flex;
	flex-wrap:wrap;
}
.ad-banner-wrapper{
	width:100%;
	height:500px;
}
.ad-banner{
	width:100%;
	height:100%;
	background-color:#96d0ff;
}
.ad-banner2-wrapper{
	width:100%;
	height:500px;
	display:flex;
	justify-content:center;
}
.ad-banner2{
	width:1000px;;
	height:100%;

	display:flex;
	justify-content:center;
	flex-wrap:wrap;
	align-items:center;
}
.AI-comment-box{
	padding:10px;
}
.comment-box{
	width:400px;
	height:auto;
	font-size:30px;
	display:flex;
	flex-wrap:wrap;
	gap:20px;
}
.schedule-alarm{
	width:100%;
	font-size:50px;
}
.schedule-alarm2{
	width:100%;
}
.ai-image{
	width:250px;
	
}
.calander-img{
	width:500px;
	height:400px;
}
.goSchedule-btn{
	position: relative;
    bottom: 80px;
	width:200px;
	font-size:20px;
	padding:10px;
	background-color:white;
	display:flex;
	justify-content:center;
	border-radius:10px;
	text-decoration: none;
	color:black;
	box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
.goSchedule-btn:hover{
	background-color:#96d0ff;
	color:white;
}
.calander-box{
	display:flex;
	flex-wrap:wrap;
	width: 500px;
    height: auto;
    justify-content:center;
}
.ad-banner3-wrapper{
	width:100%;
	height:500px;
}
.ad-banner3{
	width:100%;
	height:100%;
	background-color:yellow;
}