@charset "UTF-8";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
body {
    font-family: 'Pretendard';
    background: white; 
    margin:0px;
            
}
.mypage-container {
    width: 800px;
    height: 800px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    padding: 50px;
}
.title {
    width: 780px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 2px;
    border-color: #C7C7C7;
    font-size: 30px;
    font-weight: bold;
}
.profile-image-location-container{
    width:780px;
    height:150px;
    display: flex;
    justify-content: center;
}
.profile-image-container{
    width: 150px;
    height:150px;
    border-radius: 100%;
    background-color: #96D0FF;
}
.user-name {
    width: 450px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 2px;
    border-color: #C7C7C7;

}
.user-info-container {
    width: 780px;
    height:240px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: 600;
}
.email-address{
    width:240px;
    height:50px;
    display: flex;
    justify-content: center;
    border-bottom: solid 2px;
    border-right: solid 2px;
    border-color: #C7C7C7;
    align-items: center;
}
.user-email-address {
    width:500px;
    height:50px;
    border-bottom: solid 2px;
    border-color: #C7C7C7;
    align-items: center;
    display: flex;
    justify-content: center;
}
.id, .pw, .social-login, .interesting{
    width:240px;
    height:50px;
    display: flex;
    justify-content: center;
    border-bottom: solid 2px;
    border-right: solid 2px;
    border-color: #C7C7C7;
    align-items: center;
}
.user-id, .user-pw, .user-social-login, .user-interesting {
    width:500px;
    height:50px;
    border-bottom: solid 2px;
    border-color: #C7C7C7;
    align-items: center;
    display: flex;
    justify-content: center;
    white-space: normal;
    word-wrap: break-word;
    overflow: hidden;
}
.location-container {
	display: flex;
    justify-content:center;
    align-items: center;
    position:relative;
    top:50px;
    margin-bottom:50px;
}
.info-edit-button {
	width:100px;
	height:50px;
	display:flex;
	align-items:center;
	justify-content:center;
	gap:5px;
	border: 1px solid #C7C7C7;
	border-radius:10px;
	background-color:white;
}
.info-edit-button:hover {
	background-color: #96D0FF;
	color:white;
}
.info-edit-button:hover img {
  filter: brightness(0) invert(1);
}