@charset "UTF-8";
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff') format('woff');
    font-weight: 100;
    font-display: swap;
}
body {
    font-family: 'Pretendard';
    background: #f7f7f7;
            
}
.mypage-container {
    width: 940px;
    height:700px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:20px;
    align-content: center;
}
.title {
    width: 780px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 2px;
    border-color: #C7C7C7;
    font-size: 30px;
}
.profile-image-location-container{
    width:780px;
    height:150px;
    display: flex;
    justify-content: center;
}
.profile-image-container{
    width: 150px;
    height:150px;
    border-radius: 100%;
    background-color: #96D0FF;
}
.user-name {
    width: 450px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 2px;
    border-color: #C7C7C7;

}
.user-info-container {
    width: 780px;
    height:240px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.email-address{
    width:240px;
    height:50px;
    display: flex;
    justify-content: center;
    border-bottom: solid 2px;
    border-right: solid 2px;
    border-color: #C7C7C7;
    align-items: center;
}
.user-email-address {
    width:530px;
    height:50px;
    border-bottom: solid 2px;
    border-color: #C7C7C7;
    align-items: center;
    display: flex;
    justify-content: center;
}
.id, .pw, .social-login, .interesting{
    width:240px;
    height:50px;
    display: flex;
    justify-content: center;
    border-bottom: solid 2px;
    border-right: solid 2px;
    border-color: #C7C7C7;
    align-items: center;
}
.user-id, .user-pw, .user-social-login, .user-interesting {
    width:530px;
    height:50px;
    border-bottom: solid 2px;
    border-color: #C7C7C7;
    align-items: center;
    display: flex;
    justify-content: center;
}
.location-container {
	display: flex;
    justify-content:center;
    align-items: center;
    position:relative;
    top:50px;
}
