@charset "UTF-8";
@charset "UTF-8";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

/* 출력 애니메이션 */
 @keyframes fadeIn {
            from { opacity: 0; transform: translateY(-10px); }
            to { opacity: 1; transform: translateY(0); }
}

body {
    font-family: 'Pretendard';
    background: white; 
    margin:0px;        
}

.signup-location-container {
    display: flex;
    justify-content:center;
    margin-top: 50px;
    animation: fadeIn 1s ease; 
}

.signup-container {
	background-color: white;
	border-radius:10px;
	width:600px;
	height:800px;
	display:flex;
	flex-wrap:wrap;
	padding:50px;
}

label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
    color: #444;
}
h2 {
	width:100%;
}
input[type="text"], 
input[type="password"], 
input[type="email"], 
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 3px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
        }

input[type="checkbox"] {
    margin-right: 3px;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    background-color: #96D0FF;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color:#2FA1FF;
}

.error-message {
    color: red;
    font-size: 13px;
    margin-top: 6px;
    text-align: left;   
}

.success-message {
    color: green;
    font-size: 13px;
    margin-top: 6px;
    text-align: left;  
}

.link {
    text-align: center;
    margin-top: 15px;
}

.link a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.id-check {
    display: flex;
    gap: 8px;
    width:100%;
}

.id-check button {
    flex-shrink: 0;
    width: auto;
    padding: 8px 14px;
    background-color: #96D0FF;
}

.id-check button:hover {
    background-color:#2FA1FF; 
}
.email-block {
    width: 100%;
    margin-bottom: 10px; /* 아래 항목과 간격 */
}

.email-check {
    display: flex;
    gap: 8px;
    width: 100%;
}

.email-check input[type="email"] {
    flex: 1; /* 입력창이 남은 공간 채움 */
}

.email-check button {
    flex-shrink: 0;
    width: auto;
    padding: 8px 14px;
    background-color: #96D0FF;
}

.email-check button:hover {
    background-color: #2FA1FF;
}

.mailing-agree {
    margin-top: 5px;
}