<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" th:href="@{/css/header.css}" />
    <link rel="stylesheet" th:href="@{/css/login.css}" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<style>

</style>
<body>
    <div th:replace="fragments/header :: siteHeader"></div>

	<div th:if="${param.error}" class="login-popup-overlay">
	    <div class="login-popup">
	        <p>로그인 실패! 아이디 또는 비밀번호를 확인해주세요.</p>
	        <button onclick="closePopup()">확인</button>
	    </div>
	</div>

	<!-- 로그아웃 -->
	<div th:if="${param.logout}" class="login-popup-overlay">
	    <div class="login-popup success">
	        <p>로그아웃되었습니다.</p>
	        <button onclick="closePopup()">확인</button>
	    </div>
	</div>
    <div class="a">
    	<div class="logo-container">
    		<img th:src="@{/images/logo3.png}" class="logo-ad"/>
    	</div>
        <div class="login-wrapper">
            <h1>Login</h1>

            <form th:action="@{/perform_login}" method="post" class="login-form">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

                <div class="input-group">
                    <label for="user">ID</label>
                    <input type="text" id="user" name="user_id" placeholder="아이디를 입력해주세요" required autofocus>
                </div>

                <div class="input-group">
                    <label for="password">PW</label>
                    <input type="password" id="password" name="user_pw" placeholder="비밀번호를 입력해주세요" required>
                </div>

                <button type="submit" class="check-login-button">로그인</button>
            </form>

            <div class="links">
                <a href="#">비밀번호 찾기</a>
                <span>|</span>
                <a th:href="@{/signup}">회원가입</a>
            </div>
        </div>
    </div>
<div th:replace="fragments/footer :: siteFooter"></div>
<script>
  function closePopup() {
    const popup = document.querySelector('.login-popup-overlay');
    if (popup) popup.remove();
  }

  if (urlParams.has('expired')) {
      alert('다른 곳에서 로그인하여 현재 세션이 종료되었습니다.');
  }
</script>
</body>
</html>
