<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/header.css}" />
<link rel="stylesheet" th:href="@{/css/footer.css}" />
<link rel="stylesheet" th:href="@{/css/market.css}"/>
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
<div th:replace="fragments/header :: siteHeader"></div>
	<div class="full-container">
		<div class = "full-location-container">
			<div class="market-title-wrapper">
				<img th:src="@{/images/market.gif}" class="market-img"/>
				<div class="market-title">다양한 템플릿을 찾아봐요</div>
			</div>
			<div class="path-wrapper">
					<div class="path-desc">
						<div class="path-title">새김패스</div>
						<a class="buy-path-btn">구매하기</a>				
					</div>
			</div>
			<div class="temp-market-wrapper">
				<div class="temp-market-list">
					<div class="temp-btn">
						<img th:src="@{/images/default-profile.png}"class="temp-img"/>
						<div class="temp-info">
							<div class="temp-name"><img th:src="@{/images/default-profile.png}" class="profile-img"/>템플릿1</div>
							<div class="price">무료</div>
							<div class="rating">★5.0</div>
						</div>
					</div>
					<div class="temp-btn">
						<img th:src="@{/images/default-profile.png}"class="temp-img"/>
						<div class="temp-info">
							<div class="temp-name"><img th:src="@{/images/default-profile.png}" class="profile-img"/>템플릿1</div>
							<div class="price">무료</div>
							<div class="rating">★5.0</div>
						</div>
					</div>
					<div class="temp-btn">
						<img th:src="@{/images/default-profile.png}"class="temp-img"/>
						<div class="temp-info">
							<div class="temp-name"><img th:src="@{/images/default-profile.png}" class="profile-img"/>템플릿1</div>
							<div class="price">무료</div>
							<div class="rating">★5.0</div>
						</div>
					</div>
					<div class="temp-btn">
						<img th:src="@{/images/default-profile.png}"class="temp-img"/>
						<div class="temp-info">
							<div class="temp-name"><img th:src="@{/images/default-profile.png}" class="profile-img"/>템플릿1</div>
							<div class="price">무료</div>
							<div class="rating">★5.0</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<div th:replace="fragments/footer :: siteFooter"></div>
</body>
</html>