<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class = "mypage-container">
		<div class = "title">마이페이지</div>
		<button class = "info-edit-button">수정하기</button>
		<div class= "profile-image-location-container">
			<div class = "profile-image-contaner">
				<img src = "이미지 주소값 넣어주세요"/>
			</div>
		</div>
		<div class = "user-name">사용자 이름 출력해주세요</div>
		<div class = "user-info-container">
			<div class = "user-email-address">이메일 주소 불러와주세요</div>
			<div class = "user-id">아이디 값 불러와주세요</div>
			<div class = "user-pw">패스워드 값 불러와주세요</div>
			<div class = "user-social-login">소셜 로그인 여부 불러와주세요</div>
			<div class = "user-interesting">관심 분야 불러와주세요</div>
		</div>
	</div>
	<div class = "AI-position-container">
		<div class = "AI-container">AI모델 이미지 공간입니다</div>
	</div>
	<div class = top-button-position-container>
		<button>TOP버튼입니다.</button>
	</div>
</body>
</html>