<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/header.css}" />
<link rel="stylesheet" th:href="@{/css/notioncomplete.css}" />
</head>
<body>
	<!-- 헤더 -->
    <div th:replace="fragments/header :: siteHeader"></div>

	 <div class = "message-container">
		<div class = "message-box">
			<div class = "message">저장이 완료되었습니다.</div>
			<div class = "AI-model-box-location-container">
                <div class = "AI-model-box"></div>
            </div>
            <div class="button-location-container">
                <a th:href="@{/notion/create}" class = "return-create">작성페이지로</a> 
                <a th:href="@{/notion/manage}" class = "notion-manage">노션관리</a>
                <a th:href="@{/quiz/create}" class = "create-quiz">퀴즈생성</a>
                <a th:href="@{/main}" class = "return-main">메인으로</a>
            </div>
		</div>
	</div>
</body>
</html>