<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class = "message-container">
		<div class = "message-box">
			<div class = "message">저장이 완료되었습니다.</div>
			<div class = "AI-model-box">AI모델 이미지 공간입니다.</div>
			<button class = "return-create">작성페이지로</button> 단순이동일 것 같아서 form에 넣지않았음
			<button class = "notion-manage">노션관리</button>
			<button class = "create-quiz">퀴즈생성</button>
			<button class = "return-main">메인으로</button>
		</div>
	</div>
</body>
</html>