<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>시험 풀기</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/quizTest.css}">
      <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
<div th:replace="~{fragments/header :: siteHeader}"></div>

<div class="full-location-container">
    <div class="full-container">
        <div class="quiz-header">
            <div class="left-arrow">
                <button id="prevBtn">
                    <img th:src="@{/images/arrowVector.svg}" class="arrow1">
                </button>
            </div>
            <div id="quizNumber" class="quiz-number">1/20</div>
            <div id="quizTitle" class="quiz-title"></div>
            <div class="right-arrow">
                <button id="nextBtn">
                    <img th:src="@{/images/arrowVector.svg}" class="arrow2">
                </button>
            </div>
        </div>

        <div class="quiz-text-container">
            <div id="quizText" class="quiz-text">...</div>
        </div>

        <div id="quizAnswerContainer" class="quiz-answer-container">
            <!-- JS에서 동적 생성 -->
        </div>

        <div class="submit-container">
            <!-- ⭐ 제출 버튼 텍스트 추가 ⭐ -->
            <button id="submitBtn">제출하기</button>
        </div>
    </div>
</div>
<input type="hidden" id="csrfToken" th:value="${_csrf.token}"/>
<input type="hidden" id="csrfHeader" th:value="${_csrf.headerName}"/>
<div th:replace="~{fragments/footer :: siteFooter}"></div>

<!-- ⭐ 데이터 주입 ⭐ -->
<script th:inline="javascript">
    /*<![CDATA[*/
    let questions = /*[[${questionsJson}]]*/ '[]';
    try {
        questions = JSON.parse(questions);
        if (!Array.isArray(questions)) {
            questions = [];
        }
    } catch(e) {
        console.error('questionsJson parsing error:', e);
        questions = [];
    }

    let testIdx = /*[[${test.testIdx}]]*/ 0;
    let startTime = new Date().toISOString();
    /*]]>*/
</script>


<script src="/js/quizTest.js"></script>
</body>
</html>
