<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/header.css}" />
<link rel="stylesheet" th:href="@{/css/quizcreate.css}" />
</head>
<body>
<!-- 헤더 -->
    <div th:replace="fragments/header :: siteHeader"></div>
	<div class = "quiz-location-container">
		  <div class="notion-selector">
		    <h3 style ="display: flex; justify-content: flex-start; width: 80%; font-size:20px; margin-left:10px;">저장된 노션 선택</h3>
		    <div class="select-container">
			    <select id="notionSelect" class="notion-select">
			      <option value="">노션 문서를 선택하세요</option>	     
			    </select>
		    </div>
		    <div class="tree-position">
		    	<div class="tree-container"></div>
		    </div>
		    <button id="generateBtn" class ="gene-button">퀴즈 생성</button>
		  </div>
		  <div class ="content-location">
			  <div class = "quiz-content-box">
			  	<h3 style ="display: flex; justify-content: flex-start; width: 820px; margin-bottom: 10px; font-size:20px;">QUIZ</h3>
			  	<div class= "quiz-content">퀴즈 출력칸입니다.</div>
			  </div>
			  <div class ="form-container">
			  	<form method = "post" action = "" >
				  	<div  class = "answer-box">
				  	<div style ="display: flex; justify-content: flex-start; width: 820px; margin-bottom: 10px; font-size:20px;">답변 작성</div>
				  		<textarea type = "text" id = "quiz-answer" class="answer-area" value = "답변을 작성해주세요"></textarea>
				  	</div>
			  		<button type="submit" class ="submit-button">제출</button>
			  	</form>
			  </div>
		  </div>
	</div>
</body>
</html>