<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" th:href="@{/css/header.css}" />
    <link rel="stylesheet" th:href="@{/css/signUp.css}" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
</head>
<body>
    <div th:replace="fragments/header :: siteHeader"></div>

    <div class="signup-location-container">
    	<div class="logo-container">
    		<img th:src="@{/images/logo3.png}" class="logo-ad"/>
    	</div>
    	
    	<div class="full-container">
	        <form th:action="@{/signup}" method="post" th:object="${user}" 
	              onsubmit="return validateForm()" class="signup-container">
	            <h2>회원가입</h2>
	
	            <!-- 아이디 -->
	            <label for="userId">아이디</label>
	            <div class="id-check">
	                <input type="text" id="userId" th:field="*{userId}" required>
		            <button type="button" id="checkBtn">중복확인</button>
		            <span id="checkResult" style="margin-left:10px;"></span>
	            </div>
	            <!-- 닉네임 -->
	            <label for="userNick">닉네임</label>
				<div class="userNick-check">
	                <input type="text" id="userNick" th:field="*{nickname}" required>
	                <button type="button" id="nickCheckBtn" class="nick-check-btn">중복확인</button>
	                <span id="nickCheckResult" style="margin-left:10px;"></span>
	            </div>
				
	            <!-- 비밀번호 -->
	            <label for="userPw">비밀번호</label>
	            <div style="width:100%;">
		            <input type="password" id="userPw" th:field="*{userPw}" required>
	            </div>
	
	            <label for="confirmPw">비밀번호 확인</label>
	            <div style="width:100%;">
		            <input type="password" id="confirmPw" th:field="*{userPwConfirm}" required>
	            </div>
	
	            <!-- 이메일 -->
	            <label for="userEmail">이메일</label>
	            <div class="email-block">
	                <div class="email-check">
	                    <input type="email" id="userEmail" th:field="*{email}" required>
	                    <button type="button" id="emailCheckBtn">중복확인</button>
	                </div>
	                <span id="emailCheckResult" style="margin-top:5px; display:block;"></span>
	
	                <!-- 메일 수신 동의 -->
	                <div class="mailing-agree">
	                    <input type="checkbox" id="mailingAgreed" th:field="*{mailingAgreed}">
	                    <label for="mailingAgreed">메일 수신 동의</label>
	                </div>
	            </div>
	
	            <!-- 관심 분야 -->
	            <label for="interestArea">관심 분야</label>
	            <div style="width:100%;">
		            <input type="text" id="interestArea" th:field="*{interestArea}">
	            </div>
	
	            <!-- 학습 분야 -->
	            <label for="learningArea">학습 분야</label>
				<div style="width:100%;">
		            <input type="text" id="learningArea" th:field="*{learningArea}">
				</div>
	
	            <!-- 숨김 필드 -->
	            <input type="hidden" id="attachmentCount" th:field="*{attachmentCount}" value="0">
	
	            <!-- 약관 동의 -->
	            <label class="terms">
	                <input type="checkbox" id="terms" required> 서비스 이용약관에 동의합니다.
	            </label>
	
	            <button type="submit">회원가입</button>
	
	            <div class="link">
	                <a href="/login">로그인으로 돌아가기</a>
	            </div>
	        </form>
    	</div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/signup.js}"></script>

    <div th:replace="fragments/footer :: siteFooter"></div>
</body>
</html>
